
  <select [(ngModel)]='format' >
    <option selected value='asc'>Ascending</option>
    <option value='desc'>Descending</option>
    </select>
    <input type="text" [(ngModel)]="term" >
    <button type="submit">Submit</button>

<table style="width:100%">
  <tr>
    <th *ngFor='let key of postKeys' (click)='filterKey = key'>{{key}}</th>
  </tr>
  <tr *ngFor='let post of posts | filter: term:filterKey:format'>
    <td *ngFor='let key of postKeys' (click)='filterKey = key'>{{post[key]}}</td>
  </tr>
</table>